*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 200px 300px 300px;
    grid-template-rows: 80px 200px 200px 80px;
    text-align: center;
    height: 100vh;
    background-color: white;
    color: white;
    gap: 8px;
}
.header{
    grid-column: 1/6;
    grid-row: 1/2;
    padding: 40px;
    background-color: yellowgreen;
}
.sidebar{
    grid-row: 2/5;
    background-color: red;
}
.content1{
    grid-column: 2/6;
    grid-row: 2/3;
    padding: 70px;
    background-color: brown;
}
.content2{
    grid-column: 2/6;
    grid-row: auto;
    padding: 50px;
    background-color: orange;
}
.footer{
    grid-column: 1/6;
    grid-row: auto;
    padding: 20px;
    background-color: black;
}