body{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto ;
    gap: 10px;
    height: 100vh;
}
.box1{
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: grey;
    color: white;
}
.box2{
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: blueviolet;
    color: white;
}
.box3{
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: brown;
    color: white;
}
.box4{
    grid-column-start: 4;
    grid-column-end: 4;
    background-color: hotpink;
    color: white;
}
.box5{
    grid-column-start: 5;
    grid-column-end: 8;
    background-color: orangered;
    color: white;
}
.box6{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: yellow;
    color: white;
}
.box7{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: red;
    color: white;
}
.box8{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: black;
    color: white;
}
.box9{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: fuchsia;
    color: white;
}
.box10{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: yellowgreen;
    color: white;
}
.box11{
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: darkolivegreen;
    color: white;
}
.box12{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: blue;
}
.box13{
    grid-column-start: 5;
    grid-column-end: 7;
    background-color: khaki;
    color: white;
}
.box14{
    grid-column-start: 7;
    grid-column-end: 8;
    background-color: blueviolet;
    color: white;
}
.box15{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: yellow;
    color: white;
}
.box16{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: pink;
    color: wheat;
}
.box17{
    grid-column-start: 5;
    grid-column-end: 5;
    background-color: red;
    color: white;
}
.box18{
    grid-column-start: 6;
    grid-column-end: 7;
    background-color: darkcyan;
    color: white;
}
.box19{
   grid-column-start: 7;
   grid-column-end: 8;
   grid-row-start: 5;
   grid-row-end: 7;
    background-color: sienna;
    color: white;
}
.box20{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: gold;
    color: white;
}
.box21{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: navy;
    color: white;
}
.box22{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: darkgreen;
    color: white;
}
.box23{
    grid-column-start: 4;
    grid-column-end: 6;
    background-color: gold;
    color: white;
}
.box24{
    grid-column-start: 6;
    grid-column-end: 7;
    background-color: black;
    color: white;
}