body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr 1fr auto;
  gap: 10px;
  height: 100vh;
}

.header {
  grid-column: 1 / 3;
  background: orange;
  padding: 20px;
  text-align: center;
  color: white;
}

.sidebar {
  grid-row: 2 / 4;
  background: orange;
  padding: 20px;
  height: 105%;
  color: white;
}

.content1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: red;
  padding: 20px;
  color: white;
}

.content2 {
  grid-column: 2 / 3;
  background: grey;
  padding: 20px;
  color: white;
}

.content3 {
  grid-column: 2 / 3;
  background: green;
  padding: 20px;
  color: white;
}

.footer {
  grid-column: 1 / 3;
  background: orange;
  padding: 20px;
  text-align: center;
  color: white;
}